<div>
    <style>
        #navbar {align-items: stretch; box-sizing: border-box; color: rgb(51, 51, 51); height: 100%; line-height: 24px; width: 100%; display: flex; background-color: rgb(10, 82, 120)}
        #div-1 {align-items: center; height: 40px; position: relative; width: 1024px; display: flex; margin: auto}
        #div-2 {align-items: center; flex-basis: 33%; height: 100%; justify-content: flex-start; width: 326px; display: flex}
        #ul-1 {align-items: center; height: 100%; width: 322px; display: flex; list-style-type: none}
        #li-1 {align-items: center; height: 40px; padding-left: 0.875rem; padding-right: 0.875rem; position: relative; width: 104px; display: flex}
        #span-1 {align-items: center; color: rgb(255, 255, 255); cursor: pointer; justify-content: center; margin-right: 0.3125rem; position: relative; display: inline-flex}
        #i-1 {font-size: 14px; height: 14px; line-height: 14px; width: 26px}
        #a-1 {color: rgb(255, 255, 255); cursor: pointer; height: 24px; width: 44px}
        #li-2 {align-items: center; height: 40px; padding-left: 0.875rem; padding-right: 0.875rem; position: relative; width: 132px; display: flex}
        #a-2 {color: rgb(255, 255, 255); cursor: pointer; height: 24px; width: 86px}
        #span-2 {align-items: center; color: rgb(255, 255, 255); font-size: 8px; justify-content: center; line-height: 12px; margin-left: 0.5rem; position: relative; display: inline-flex}
        #i-2 {height: 8px; line-height: 8px; width: 12px}
        #li-3 {align-items: center; height: 40px; padding-left: 0.875rem; padding-right: 0.875rem; position: relative; width: 88px; display: flex}
        #a-3 {color: rgb(255, 255, 255); cursor: pointer; height: 24px; width: 42px}
        #span-3 {align-items: center; color: rgb(255, 255, 255); font-size: 8px; justify-content: center; line-height: 12px; margin-left: 0.5rem; position: relative; display: inline-flex}
        #i-3 {height: 8px; line-height: 8px; width: 12px}
        #div-3 {align-items: center; flex-basis: 33%; height: 24px; justify-content: center; width: 326px; display: flex}
        #div-4 {align-items: center; height: 24px; width: 150px; display: flex}
        #div-5 {height: 24px; min-width: 150px; width: 150px}
        #ul-2 {width: 150px; list-style-type: none}
        #li-4 {color: rgb(255, 255, 255); float: right; height: 24px; letter-spacing: 2px; line-height: 18px; position: relative; text-align: center; width: 150px; display: list-item}
        #a-4 {cursor: pointer; text-transform: capitalize}
        #a-5 {cursor: pointer; text-transform: capitalize}
        #span-4 {background-color: rgb(9, 80, 117); height: 18px; width: 24px; display: inline-block}
        #span-5 {cursor: pointer; height: 24px; position: relative; vertical-align: middle; width: 24px; display: inline-block}
        #img-1 {height: 100%; overflow-clip-margin: content-box; position: absolute; width: 100%; z-index: 1; overflow: clip}
        #div-6 {align-items: center; flex-basis: 33%; height: 100%; justify-content: flex-end; width: 376px; display: flex}
        #ul-3 {align-items: center; height: 100%; width: 376px; display: flex; list-style-type: none}
        #li-5 {align-items: center; height: 40px; padding-left: 2px; padding-right: 2px; position: relative; width: 202px; display: flex}
        #div-7 {height: 30px; width: 200px}
        #iframe-1 {height: 40px; overflow-clip-margin: content-box; width: 200px; overflow: clip}
        #li-6 {align-items: center; height: 40px; padding-left: 0.875rem; padding-right: 0.875rem; position: relative; width: 174px; display: flex}
        #a-6 {color: rgb(255, 255, 255); cursor: pointer; height: 24px; width: 118px}
        #span-6 {align-items: center; color: rgb(255, 255, 255); font-size: 8px; justify-content: center; line-height: 12px; margin-left: 0.5rem; margin-right: 0.625rem; position: relative; display: inline-flex}
        #i-4 {height: 8px; line-height: 8px; width: 12px}
        @media (min-width: 769px) {
            #div-1 {
                width: 992px !important; max-width: 992px !important;
            }
            #div-5 {
                min-width: 150px !important;
            }
            #ul-2 {
                width: 100% !important;
            }
            #li-4 {
                width: 100% !important;
            }
        }
        @media (min-width: 320px) and (max-width: 813px) {
        }
        @media (min-width: 481px) and (max-width: 813px) and (orientation: landscape) {
        }
    </style>
    <nav id="navbar">
        <div id="div-1">
            <div id="div-2">
                <ul id="ul-1">
                    <li id="li-1">
                        <span id="span-1"><i id="i-1"></i> </span><a href="https://www.corriere.it/javascript:void(0)" id="a-1">Sezioni</a>
                    </li>
                    <li id="li-2">
                        <a href="https://www.corriere.it/javascript:void(0)" id="a-2">Edizioni Locali</a> <span id="span-2"><i id="i-2"></i> </span>
                    </li>
                    <li id="li-3">
                        <a href="https://www.corriere.it/javascript:void(0)" id="a-3">Servizi</a> <span id="span-3"><i id="i-3"></i> </span>
                    </li>
                </ul>
            </div>
            <div id="div-3">
                <div id="div-4">
                    <div id="div-5">
                        <ul id="ul-2">
                            <li id="li-4">
                                <a href="https://www.corriere.it//meteo.corriere.it/" id="a-4">Meteo: </a><a href="https://www.corriere.it//meteo.corriere.it/italia/lombardia/milano" id="a-5">Milano</a><span id="span-4">22° </span><span id="span-5"><img src="https://images2.corriereobjects.it/meteo/icone/4.png" id="img-1" /></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="div-6">
                <ul id="ul-3">
                    <li id="li-5">
                        <div id="div-7"><iframe src="https://buy.tinypass.com/checkout/template/cacheableShow?aid=aG4QZwTKpu&amp;templateId=OTHTWU9O0SAW&amp;offerId=fakeOfferId&amp;experienceId=EXMOMQ9QTUPO&amp;iframeId=offer_7d62cafe6c59b8419bbb-0&amp;displayMode=inline&amp;pianoIdUrl=https%3A%2F%2Fid.tinypass.com%2Fid%2F&amp;widget=template&amp;url=https%3A%2F%2Fwww.corriere.it" id="iframe-1"></iframe></div>
                    </li>
                    <li id="li-6">
                        <a href="https://www.corriere.it/javascript:void(0)" id="a-6">Lettore_16460806</a><span id="span-6"><i id="i-4"></i></span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
